version: 0.0.{build}

configuration: Release

install:
  - ps: Write-Host -NoNewline "Installing NuGet 3.5.0..."
  - ps: if (Test-Path 'C:\Tools\NuGet3') { $nugetDir = 'C:\Tools\NuGet3' } else { $nugetDir = 'C:\Tools\NuGet' }
  - ps: (New-Object Net.WebClient).DownloadFile('https://dist.nuget.org/win-x86-commandline/v3.5.0-rc1/NuGet.exe', "$nugetDir\NuGet.exe")
  - ps: Write-Host "OK" -ForegroundColor Green
#- ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/install-nuget-3-3-0.ps1'))

init:
- ps: Update-AppveyorBuild -Version "0.0.$env:appveyor_build_number-sha.$($env:appveyor_repo_commit.substring(0,7))"

nuget:
  disable_publish_on_pr: true

assembly_info:
  patch: true
  file: AssemblyInfo.*
  assembly_version: '0.0.{build}'
  assembly_file_version: '0.0.{build}'
  assembly_informational_version: '{version}'

matrix:
  fast_finish: true # fail fast!

clone_depth: 3  

pull_requests:
  do_not_increment_build_number: true

before_build:
  - nuget restore
  - nuget help | findstr /psi "version"

build:
  publish_nuget: true
  publish_nuget_symbols: true
  
after_build:
  dir

#deploy:
#  provider: NuGet
#  api_key:
#    secure: KEHWtW02rf5aCAlwchP0Siow5EA24hwtm09uvsR58bMWirJ8uXl1SidBnNCfJ3cw
#  skip_symbols: true
#  on:
#    branch: master 
